h2 {
    color: #333;
    margin-bottom: 10px;
}

.btn-endpoint {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    transition: .2s;
}

.close {
    background-color: #ca2929;
}

.close:hover {
    background-color: #a12222;
}

.update {
    background-color: #1c6d1f;
}

.update:hover {
    background-color: #114413;
}

.beautify {
    background-color: #1c366d;
}

.beautify:hover {
    background-color: #112344;
}

.confirmation-modal {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-confirmation-modal {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    transition: .2s;
}

.yes {
    background-color: #1c6d1f;
}

.yes:hover {
    background-color: #114413;
}

.cancel {
    background-color: #ca2929;
}

.cancel:hover {
    background-color: #861a1a;
}